{% if other_user %}
<div id="online-icon" class="gray-dot absolute top-2 left-2"></div>
<a href="{% url 'profile' other_user.username %}">
    <div class="flex items-center gap-2 p-4 sticky top-0 z-10">
        <img class="w-10 h-10 rounded-full object-cover" src="{{ other_user.profile.avatar }}" />
        <div>
            <span class="font-bold text-white">{{ other_user.profile.name }}</span> 
            <span class="text-sm font-light text-gray-400">@{{ other_user.username }}</span>
        </div>
    </div>
</a>
{% else %}
<div id="online-icon"></div>
<span id="online-count" class="pr-1"></span>online
{% endif %}